
nav a {
  color: #ebeac4; 
  text-decoration: none;
  margin: 0.5em;
  font-size: 1.5em;
}

.features-icons {
  padding-top: 2em;
  padding-bottom: 2em;
}

nav img {
  width: 25%;
  height: 80%;
  padding-left: 2em;
}
#img1 {
  width: 90%;
  height: 80%;
}
.pphone {
  height: auto;
  margin-top: 1rem;
}  

.mb-5 {
  margin-bottom: 1rem !important;
}
p {
  height: 9em;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.carousel-item {
  max-height: 35rem;
}
footer div.col  {
  align-items: center;
}
footer span {
  font-size: 22px;
}
footer small {
  font-size: 22px;
}
#ftext {
  width: 100%;
}
