@media (min-width:340px) {
    nav img {
        padding: 0;
    }
    nav a {
        font-size: 1.125rem;
    }
    .showcase .showcase-img {
        min-height: 15rem;
        background-size: cover;
        padding-top: 1em;
    }
}
@media (min-width:576px) {
    #ftext {
        text-align: center;
    }
    nav a {
        font-size: 1.3rem;
    }

}
@media (min-width:576px) {
    nav a {
        font-size: 1.6rem;
    }

}
@media (min-width:992px) {
    nav a {
        font-size: 2rem;
    }
    .img-fluid {
        min-height: 190px;
    }
}
@media (min-width:1200px) {
    nav a {
        font-size: 2.3rem;
    }
}
@media (min-width:1200px) {
    nav a {
        font-size: 2.5rem;
    }
}
@media (min-width:1920px) {
    nav a {
        font-size: 3rem;
        margin: 1em;
    }
    nav img {
        width: 18%;
    }
    #text1920 {
        font-size: 24px;
    }
    footer span {
        font-size: 24px;
    }
    footer small {
        font-size: 24px;
    }
    h2, .h2 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
    .pphone {
        font-size: 24px;
    }
}